<h2>Validation Result</h2>
<p>No error found when validating XML file @ViewData["XmlFileName"] against the schema @ViewData["SchemaFileName"].</p>
<p>This data has been insert to database</p>
<a href="@Url.Action("Index", "Home")">Go to Home</a>
